@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans text-black;
  }
}

@layer components {
  .vertical-text {
    writing-mode: vertical-lr;
    text-orientation: mixed;
    transform: rotate(180deg);
  }
}

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }
}